<!-- Loader centrado (solo se muestra mientras la tarjeta está "cargando") -->
<div class="d-flex justify-content-center my-4" *ngIf="!hasLoaded">
  <app-lazy-img></app-lazy-img>
</div>

<!-- Tarjeta de película (se muestra cuando hasLoaded es true) -->
<div class="card-container animate__animated animate__fadeIn" *ngIf="hasLoaded">
  <article class="post-card">

    <!-- Imagen de la película -->
    <img
      [src]="movies.img"
      [alt]="movies.name"
      class="card-img"
    />

    <!-- Contenido de la tarjeta -->
    <div class="card-content">
      <h3 class="card-title">{{ movies.name }}</h3>

      <p class="card-desc">
        <strong>Director:</strong> {{ movies.director }}<br />
        <strong>Año:</strong> {{ movies.releaseYear }}<br />
        <strong>Género:</strong> {{ movies.genderName }}<br />
        <strong>Rating:</strong> {{ movies.rating }}<br />
        <strong>Duración:</strong> {{ movies.time / 60 | number:'1.0-0' }}h {{ movies.time % 60 }}min<br />
        <strong>Descripción:</strong>
        {{ isExpanded ? movies.description : (movies.description | slice:0:120) + '...' }}
       <a class="toggle-desc-link" (click)="isExpanded = !isExpanded">
        {{ isExpanded ? 'Leer menos' : 'Leer más' }}
      </a>
      </p>
      <!-- Botones -->
      <div class="card-buttons">
        <a
          class="btn btn-trailer"
          [href]="movies.trailer"
          target="_blank"
          rel="noopener noreferrer"
        >
          Ver tráiler
        </a>

        <button
          class="btn btn-fav btn-agregar"
          (click)="onToggleFavorite()"
        >
          {{ isFavorite ? 'Mover de Favoritos ❌ ' : 'Agregar a favoritos ⭐' }}
        </button>
      </div>
    </div>

  </article>
</div>
