<header class="login-header d-flex justify-content-between align-items-center">
  <img src="assets/images/logo.webp" alt="Logo" class="logo-header" />
</header>

<section class="login-form d-flex justify-content-center align-items-center">
  <login-register *ngIf="showRegister" (volver)="handleVolverAlLogin()" @fade></login-register>
  <div class="login-container shadow-lg rounded bg-dark text-white p-4" *ngIf="!showRegister">

    <img src="assets/images/logo.webp" alt="Logo" class="logo-form mx-auto d-block mb-3" />
    <h2 class="text-center mb-4">Iniciar Sesión</h2>

    <form (ngSubmit)="validate()" #loginForm="ngForm">
      <div class="mb-3">
        <input
          [(ngModel)]="user"
          type="email"
          name="user"
          required
          placeholder="Correo electrónico"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <input
          [(ngModel)]="password"
          type="password"
          name="password"
          required
          placeholder="Contraseña"
          class="form-control"
        />
      </div>

      <button type="submit" class="btn btn-danger w-100 fw-bold" [disabled]="!loginForm.valid">
        Ingresar
      </button>
    </form>

    <!-- Enlace movido fuera del formulario -->
    <div class="text-center mt-3">
      <span>¿No tienes una cuenta?</span>
      <a
      (click)="showRegister = true"
      class="text-decoration-none text-primary fw-semibold"
      style="cursor: pointer;">
      Regístrate
</a>
    </div>

    <p *ngIf="error" class="text-danger text-center mt-3">
      Usuario o contraseña incorrectos
    </p>

  </div>
</section>

